<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome Panana Project</h2>
  <button ion-button color="primary" (click)="logout()">Logout</button>
</ion-content>
