

<ion-content padding>
   <ion-list>
     <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <button ion-button full color="primary" (click)="signup()"> Sign Up </button>
  </ion-list>

</ion-content>
