
<ion-content padding id="welcome">
   <h1> Welcome to Banana </h1>
   <div> Discover some intersting things</div>
   <button ion-button full class="MarginTop" (click)="login()"> Login </button>
   <button ion-button full color="lightprimary" (click)="signup()"> Sign Up </button>
</ion-content>
