page-welcome {
    #welcome {
        background: color($colors, energy);
        h1 {
            font-size: 52px;
            margin-top: 50px;
        }
        .MarginTop {
            margin-top: 50px;
        }
    }

}
